    header{text-align: left;}
    .main{
        display: flex;
    }
    .container{
        width: 50%;
        
    }
    .tarjeta{
        
        display: grid;
        place-items: center;
        text-align: center;
        
    }
    .img{
        margin-left:0rem;
    }
    .titulo-tarjeta{
        width: 50%;
    }
    p{
        border-top: 1px solid black;
    }